# Without Feature Engineering with isDebt Column

In [6]:
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix,classification_report,roc_auc_score
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from xgboost import XGBClassifier
import pickle

In [ ]:
df=pd.read_csv('./Dataset/bank_cleansed.csv')
df

,age,default,balance,housing,loan,campaign,pdays,previous,deposit,month_num,...,categorical__month_jun,categorical__month_mar,categorical__month_may,categorical__month_nov,categorical__month_oct,categorical__month_sep,categorical__poutcome_failure,categorical__poutcome_other,categorical__poutcome_success,categorical__poutcome_unknown
0,59,0,2343,1,0,1,-1,0,1,5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,56,0,45,0,0,1,-1,0,1,5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,41,0,1270,1,0,1,-1,0,1,5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,55,0,2476,1,0,1,-1,0,1,5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,54,0,184,0,0,2,-1,0,1,5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,0,1,1,0,1,-1,0,0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11158,39,0,733,0,0,4,-1,0,0,6,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11159,32,0,29,0,0,2,-1,0,0,8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11160,43,0,0,0,1,2,172,5,0,5,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11161,34,0,0,0,0,1,-1,0,0,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [12]:
seed=67
X=df.drop(columns='deposit')
y=df['deposit']
X_train,X_test,y_train,y_test=train_test_split(X,y,stratify=y,random_state=seed,test_size=0.2)

In [ ]:
xgb=XGBClassifier()
params_grid={
    'max_depth': [3, 4, 5, 6],
    'learning_rate': [0.05, 0.1],
    'n_estimators': [200, 300],
    'subsample': [0.8, 1.0],
    'colsample_bytree': [0.8, 1.0],
    'min_child_weight': [1, 3],
    'gamma': [0, 0.1]
}
gs=GridSearchCV(estimator=xgb,param_grid=params_grid,scoring='roc_auc')
gs.fit(X_train,y_train)
best_model_without_feature_en=gs.best_estimator_

In [ ]:
with open("./Models/model_without_feature_en.pkl", "wb") as f:
    pickle.dump(best_model_without_feature_en, f)

In [13]:
with open("Models/model_without_feature_en.pkl", "rb") as f:
    model = pickle.load(f)
pred=model.predict(X_test)
y_proba=model.predict_proba(X_test)[:,1]
print(confusion_matrix(y_true=y_test,y_pred=pred))
print(classification_report(y_true=y_test,y_pred=pred))
print(roc_auc_score(y_test,y_proba))

[[985 190]
 [429 629]]
              precision    recall  f1-score   support

           0       0.70      0.84      0.76      1175
           1       0.77      0.59      0.67      1058

    accuracy                           0.72      2233
   macro avg       0.73      0.72      0.72      2233
weighted avg       0.73      0.72      0.72      2233

0.7729236214455215

In [16]:
feature_importance=pd.DataFrame(data={'feature_names':model.feature_names_in_,'feature_importance':model.feature_importances_}).sort_values(by='feature_importance',ascending=False)
feature_importance

                       feature_names  feature_importance
45     categorical__poutcome_success            0.204153
30      categorical__contact_unknown            0.167626
3                            housing            0.045817
38            categorical__month_mar            0.042671
41            categorical__month_oct            0.034084
42            categorical__month_sep            0.032219
37            categorical__month_jun            0.029930
46     categorical__poutcome_unknown            0.029671
31            categorical__month_apr            0.026319
28     categorical__contact_cellular            0.021792
23       categorical__marital_single            0.017500
8                          month_num            0.017118
17          categorical__job_student            0.016010
22      categorical__marital_married            0.015127
6                              pdays            0.014000
4                               loan            0.013990
35            categorical__month_jan            0.013570
40            categorical__month_nov            0.013355
43     categorical__poutcome_failure            0.013216
32            categorical__month_aug            0.013138
2                            balance            0.013094
0                                age            0.013045
39            categorical__month_may            0.012981
5                           campaign            0.012942
44       categorical__poutcome_other            0.012346
26   categorical__education_tertiary            0.011732
36            categorical__month_jul            0.009442
33            categorical__month_dec            0.009379
24    categorical__education_primary            0.009315
27    categorical__education_unknown            0.009171
19       categorical__job_unemployed            0.008895
14          categorical__job_retired            0.007971
10      categorical__job_blue-collar            0.007270
7                           previous            0.007140
29    categorical__contact_telephone            0.006953
16         categorical__job_services            0.006752
13       categorical__job_management            0.006498
9            categorical__job_admin.            0.006269
34            categorical__month_feb            0.006237
18       categorical__job_technician            0.006205
20          categorical__job_unknown            0.006045
15    categorical__job_self-employed            0.005995
21     categorical__marital_divorced            0.005851
11     categorical__job_entrepreneur            0.004842
1                            default            0.004789
12        categorical__job_housemaid            0.004788
25  categorical__education_secondary            0.002744

In [21]:
df2=pd.read_csv('./Dataset/bank_featured.csv')
df2

,age,default,balance,housing,loan,campaign,pdays,previous,deposit,month_num,...,categorical__poutcome_success,categorical__poutcome_unknown,categorical__balance_bin_-0,categorical__balance_bin_0-500,categorical__balance_bin_10001+,categorical__balance_bin_1001-2000,categorical__balance_bin_2001-5000,categorical__balance_bin_5001-10000,categorical__balance_bin_501-1000,is_debt
0,59,0,2343,1,0,1,-1,0,1,5,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
1,56,0,45,0,0,1,-1,0,1,5,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
2,41,0,1270,1,0,1,-1,0,1,5,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
3,55,0,2476,1,0,1,-1,0,1,5,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
4,54,0,184,0,0,2,-1,0,1,5,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,0,1,1,0,1,-1,0,0,4,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
11158,39,0,733,0,0,4,-1,0,0,6,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
11159,32,0,29,0,0,2,-1,0,0,8,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
11160,43,0,0,0,1,2,172,5,0,5,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
11161,34,0,0,0,0,1,-1,0,0,7,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0

In [22]:
seed=67
X2=df2.drop(columns='deposit')
y2=df2['deposit']
X2_train,X2_test,y2_train,y2_test=train_test_split(X2,y2,stratify=y2,random_state=seed,test_size=0.2)

In [24]:
xgb=XGBClassifier()
params_grid = param_grid = {
    'max_depth': [3, 4, 5, 6],
    'learning_rate': [0.05, 0.1],
    'n_estimators': [200, 300],
    'subsample': [0.8, 1.0],
    'colsample_bytree': [0.8, 1.0],
    'min_child_weight': [1, 3],
    'gamma': [0, 0.1]
}
gs2=GridSearchCV(estimator=xgb,param_grid=params_grid,scoring='roc_auc')
gs2.fit(X2_train,y2_train)
best_model_with_feature_en=gs2.best_estimator_

In [25]:
with open("./Models/model_with_feature_en.pkl", "wb") as f:
    pickle.dump(best_model_with_feature_en, f)

In [27]:
with open("Models/model_with_feature_en.pkl", "rb") as f:
    model2 = pickle.load(f)
pred2=model2.predict(X2_test)
y2_proba=model2.predict_proba(X2_test)[:,1]
print(confusion_matrix(y_true=y2_test,y_pred=pred2))
print(classification_report(y_true=y2_test,y_pred=pred2))
print(roc_auc_score(y2_test,y2_proba))

[[985 190]
 [425 633]]
              precision    recall  f1-score   support

           0       0.70      0.84      0.76      1175
           1       0.77      0.60      0.67      1058

    accuracy                           0.72      2233
   macro avg       0.73      0.72      0.72      2233
weighted avg       0.73      0.72      0.72      2233

0.7717640670876403

In [28]:
feature_importance2=pd.DataFrame(data={'feature_names':model2.feature_names_in_,'feature_importance':model2.feature_importances_}).sort_values(by='feature_importance',ascending=False)
feature_importance2

                          feature_names  feature_importance
45        categorical__poutcome_success            0.173280
46        categorical__poutcome_unknown            0.140246
30         categorical__contact_unknown            0.129512
3                               housing            0.037159
38               categorical__month_mar            0.034812
41               categorical__month_oct            0.033956
28        categorical__contact_cellular            0.025643
37               categorical__month_jun            0.022200
32               categorical__month_aug            0.021961
31               categorical__month_apr            0.021594
42               categorical__month_sep            0.021198
43        categorical__poutcome_failure            0.019340
33               categorical__month_dec            0.017172
44          categorical__poutcome_other            0.016401
17             categorical__job_student            0.015799
8                             month_num            0.014642
23          categorical__marital_single            0.014092
22         categorical__marital_married            0.013368
4                                  loan            0.013075
6                                 pdays            0.012077
40               categorical__month_nov            0.012061
5                              campaign            0.010653
0                                   age            0.010378
2                               balance            0.010350
26      categorical__education_tertiary            0.009167
39               categorical__month_may            0.009043
35               categorical__month_jan            0.008434
27       categorical__education_unknown            0.007089
34               categorical__month_feb            0.006963
36               categorical__month_jul            0.006957
14             categorical__job_retired            0.006895
7                              previous            0.006829
29       categorical__contact_telephone            0.006789
24       categorical__education_primary            0.006638
10         categorical__job_blue-collar            0.006309
52  categorical__balance_bin_5001-10000            0.005961
21        categorical__marital_divorced            0.005879
16            categorical__job_services            0.005874
15       categorical__job_self-employed            0.005805
19          categorical__job_unemployed            0.005778
18          categorical__job_technician            0.005728
9               categorical__job_admin.            0.005669
13          categorical__job_management            0.005609
20             categorical__job_unknown            0.004883
1                               default            0.004519
50   categorical__balance_bin_1001-2000            0.004388
11        categorical__job_entrepreneur            0.003931
51   categorical__balance_bin_2001-5000            0.003639
12           categorical__job_housemaid            0.003603
48       categorical__balance_bin_0-500            0.002859
53    categorical__balance_bin_501-1000            0.001999
25     categorical__education_secondary            0.001795
47          categorical__balance_bin_-0            0.000000
49      categorical__balance_bin_10001+            0.000000
54                              is_debt            0.000000